<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/static/jquery-1.11.0.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap-3.4.1/dist/css/bootstrap.min.css"  >
    <script type="text/javascript" src="/static/bootstrap-3.4.1/dist/js/bootstrap.min.js"></script>
    <style>
        body{
            background:linear-gradient(to right, #e1eed7, #41d95c);
        }
        .div7{
            width: 50%;margin-left: 25%;margin-top: 100px;
            background: url("/static/login.gif");background-size: cover;
            box-shadow: 4px 4px 15px #707371;border-radius: 5px;
            color: white;padding-top: 30px;
        }
        a{
            color: white;
        }
        span{
            font-size: xx-small;
            margin-left:20px;
        }
        input{
            height: 35px;width: 100%;border-radius: 20px;border: 0;
            background: rgba(255,255,255,0.3);padding-left: 20px;
        }
    </style>
</head>
<body>
<div class="div7">
    <ul class="nav nav-tabs" style="padding-left: 35%">
        <li class="active">
            <a href="#IN" data-toggle="tab">
                SIGN IN
            </a>
        </li>
        <li>
            <a href="#UP" data-toggle="tab">
                SIGN UP
            </a>
        </li>
    </ul>
    <div class="tab-content" style="padding-top: 30px;width: 80%;margin-left: 10%">

        <div class="tab-pane active" id="IN">
                <span>
                USERNAME
                </span><br>
                <input type="text" autocomplete="off" id="in_username">
                <br><br>
                <span>
                    PASSWORD
                </span><br>
                <input type="password" autocomplete="new-password" id="in_password">
                <br><br>
                <a href="#FORGET" data-toggle="tab" style="font-size: xx-small;float: right;margin-right: 20px;color: white">Forget Password</a>
                <br><br>
                <button onclick="sign_in_fc()" class="btn btn-danger" style="border-radius: 20px;width: 100%">SIGN IN</button>
                <br><br><br>
            <script>
                function sign_in_fc(){
                            if(document.getElementById('in_username').value == ''){
                                alert('请输入用户名！')
                                return
                            }
                            // 提交给后端
                            $.post('/sign_in/',{
                                'in_username': document.getElementById('in_username').value ,
                                'in_password': document.getElementById('in_password').value,
                            },function (abc){
                                if(abc == '1'){
                                    document.location.href='/project_list/'
                                }else{
                                    alert('用户名密码错误！')
                                }
                            })
                        }
            </script>
        </div>
        <div class="tab-pane " id="UP">
            <form action="/sign_up/">
                <span>
                USERNAME
                </span><br>
                <input type="text" autocomplete="off" name="up_username">
                <br><br>
                <span>
                    PASSWORD
                </span><br>
                <input id="up_password" type="password" autocomplete="new-password" name="up_password">
                <br><br>
                <span>
                    CONFIRM-PASSWORD
                </span><br>
                <input id="cf_password" type="password" autocomplete="off" oninput="check_pwd()" >
                <br><br>
                <span>
                    EMAIL
                </span><br>
                <input type="email" autocomplete="off" name="up_email">
                <br><br>
                <a href="" style="font-size: xx-small;float: right;margin-right: 20px;color: white">Having Account</a>
                <br><br>
                <button id="sign_up" disabled class="btn btn-danger" style="border-radius: 20px;width: 100%" >SIGN UP</button>
                <br><br><br>
            </form>
        </div>
        <div class="tab-pane" id="FORGET" >
            <form action="/reset_password/">
                <span>username which you forget</span>
                <input type="text" autocomplete="off" name="fg_username" id="fg_username">
                <br><br>
                <span>your email's code</span><button onclick="send_email()"type="button" style="color:black;" >send email</button>
                <input type="text" autocomplete="off" name="fg_code" >
                <br><br>
                <span>new password</span>
                <input type="text" autocomplete="off" name="fg_password">
                <br><br>
                <button class="btn btn-danger" style="border-radius: 20px;width: 100%" >Submit</button>
                <br><br><br>

            </form>



        </div>
    </div>
</div>
<script>
    function check_pwd(){
        var password=document.getElementById('up_password').value;
        var confirm_password=document.getElementById('cf_password').value;
        if(password != confirm_password){
            document.getElementById('sign_up').disabled=true;
        }else {
            document.getElementById('sign_up').disabled=false;
        }
    }
    function send_email(){
        $.get("/send_email_pwd/",{
            "username":document.getElementById('fg_username').value
        },function (ret){
            if(ret=='yes'){
                alert('send success!')
            }else {
                alert('send fail!')
            }
        })
    }
</script>


</body>
</html>