<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目详情页</title>
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
    <link rel="stylesheet" href="/static/lightbox/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/lightbox/node_modules/prismjs/themes/prism-tomorrow.css"/>

    <style>
        th{ text-align: center}
        td{ text-align: center}
    </style>
</head>
<body>
{% include 'menu.html' %}
<table class="table table-bordered table-condensed table-striped" style="width: 80%;margin-left: 10%;">
    <thead style="background-color: #2d2f2f;color: white">
        <tr>
            <th>mock单元标题</th>
            <th>状态</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        {% for i in mocks %}
            <tr>
                <td>
                    {{ i.name }}
                </td>
                <td>
                    {{ i.state }}
                </td>
                <td>
                    <a href="">启用</a>
                    <a href="">弃用</a>
                    <a href="">设置</a>
                    <a href="javascript:del_mock({{ i.id }})">删除</a>
{#                    <a href="/del_mock/{{ i.id }}/">删除</a>#}
                </td>

            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    function del_mock(mock_id) {
        $.showConfirm({
            title: "请确认删除", body: "你确定删除吗?", textTrue: "确定", textFalse: "取消",
            onSubmit: function (result) {
                if (result) {
                    $.get('/del_mock/'+mock_id+'/',{},function (ret) {
                        document.location.reload()
                    })
                } else {
                }
            },
        })
    }
</script>


{# lightbox #}
<script src="/static/lightbox/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/lightbox/js/bootstrap-show-modal.js"></script>
<script src="/static/lightbox/node_modules/prismjs/prism.js"></script>
<script>
    function project_set(){
         $.showModal({
            title: '请设置项目',
            body:
                '<form><div class="form-group row">' +
                '<div class="col-3"><label for="text" class="col-form-label">项目名称</label></div>' +
                '<div class="col-9"><input type="text" class="form-control" id="project_name_input"/></div>' +
                '</div>' +
                '</form>',
            footer: '<button type="button" class="btn btn-link" data-dismiss="modal">取消</button><button type="submit" class="btn btn-primary">保存</button>',
            onCreate: function (modal) {
                // create event handler for form submit and handle values
                $(modal.element).on("click", "button[type='submit']", function (event) {
                    event.preventDefault()
                    var $form = $(modal.element).find("form")

                    // 发送请求给后端
                    $.get('/save_project/',{
                        "new_name":$form.find("#project_name_input").val(),
                        "project_id":'{{ project_id }}'
                    },function (ret){
                        modal.hide()
                        document.location.reload()
                    })
                })
            }
        })
    }
</script>


</body>
</html>