<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/lightbox/node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/lightbox/node_modules/prismjs/themes/prism-tomorrow.css"/>
    <link rel="shortcut icon" href="/static/bitbug_favicon.ico">
{#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
    <style>
        th {
            text-align: center
        }

        td {
            text-align: center
        }
    </style>
</head>


<body>

{% include "menu.html" %}

<h1 style="text-align: center">Mock项目列表</h1>

{#<a href="/logout/" style="text-align: center" > 注销</a>#}

<div class="table-responsive">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <table class="table table-bordered table-hover table-condensed" style="width: 80% ;margin-left: 10%;">
                <thead style="background-color: aquamarine;color: black">
                <tr>
                    <th class="warning">
                        项目标题
                    </th>
                    <th class="success">
                        创建者
                    </th>
                    <th class="active">
                        操作
                    </th>

                </tr>
                </thead>
                <tbody>
                {% for i in project_list %}
                    <tr>
                        <td>
                            {{ i.name }}
                        </td>
                        <td>
                            {{ i.creator }}
                        </td>
                        <td>
                            <a href="/mock_list/{{ i.id }}/" class="btn btn-success">进入</a>
                            <a href="/del_project/{{ i.id }}" class="btn btn-warning">删除</a>
                            {#            <a href="#" class="btn btn-default btn-lg" role="button">链接</a>#}

                        </td>
                    </tr>

                {% endfor %}
                </tbody>
            </table>
        </div>ƒ
    </div>

</div>

<script src="/static/lightbox/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/lightbox/js/bootstrap-show-modal.js"></script>
<script src="/static/lightbox/node_modules/prismjs/prism.js"></script>
<script>
    function project_data(){
        $.get('/project_data/',{
        },function (ret){
            $.showModal({title: "平台当前数据如下 ", body:'(id,name,创建者,单元数量,启动次数,mock次数)<br><br>'+ret})
        })

    }
</script>



</body>
</html>